

body{
  font-family: 'Source Code Pro', monospace;
  color: lightgray;
  background-color: rgba(12, 12, 12, 0.8);
  
  
}

main {
  width: 50%;
  margin: 4rem auto 0 auto;
  border-radius: 1rem;
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  box-shadow: rgb(216, 207, 135) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgb(216, 207, 135) 0px -2px 6px 0px inset;
  
}



/* HEADER */

header {
  padding: 1rem 0;
  border-radius: 4px;
  margin-bottom: 1rem;
}


img {
  display: block;
  width: 50%;
  margin: 4rem auto 0.5rem auto;
}


/* TOTAL MILES */

form {
  width: 70%;
  margin: 0 auto;
  box-shadow: whitesmoke 0px 2px 5px -1px, whitesmoke 0px 1px 3px -1px;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 0;
}

input {
  width: 40px;
  padding: 2px;
  opacity: 0.8;
  
}

button {
  background-image: linear-gradient(to bottom, #d8cf87, #d6c85b);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 18px;
  margin-top: 1rem;
}

/* LAST 7 DAYS DATA */

.entriesWrapper{
  box-shadow: whitesmoke 0px 2px 5px -1px, whitesmoke 0px 1px 3px -1px;
  border-radius: 10px;
}

.entriesWrapper h3 {
  text-align: center;
  padding: 1.5rem 0 0.5rem 0;
}




footer {
  text-align: center;
  margin: 80px 0 10px 0;
  font-size: 0.9rem;
  font-family: "Source Code Pro", monospace;
}

footer a {
  text-decoration: none;
  color: #d8cf87;
  text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.6);
  padding-right: 4px;
}

footer a:hover {
  color: lightgray;
}


